.container-fluid, .container {
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 1200px) {
  #navbarMenu {
    display: none !important;
  }
  #hero {
    height: 100vh;
    min-height: 650px;
  }
  #searchForm {
    position: absolute;
    top: 120px;
    width: 100%;
  }

  #searchForm .container-fluid {
    max-width: 1080px;
  }

  #searchForm form {
    padding: 32px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
    max-width: 441px;
  }

  #xlNavbar .nav-link div:hover {
    border-bottom: 2px solid #fff;
  }
}

#hero {
  background-image: url(/images/background.avif);
  background-size: cover;
  background-position: center bottom;
}

#hero h2 {
  padding-top: 168px;
}

#xlNavbar .navbar-brand, #navbarMenuToggler, #xlNavbar .nav-link {
  line-height: 80px;
}

#xlNavbar .nav-link {
  font-size: 14px;
}

#navbarMenuToggler, #navbarMenu .nav-link {
  color: #333;
}

#navbarMenu .nav-link {
  padding: 12px 0;
  font-weight: 300;
}

#navbarMenu {
  top: 0;
  left: 0;
  right: 0;
  padding-top: 88px;
}

#navbarMenuToggler {
  color: rgb(225, 90, 95);
  transition: color 0.25s;
  z-index: 1;
}

#navbarMenuToggler.collapsed {
  color: #fff;
}

#navbar {
  z-index: 1;
}

#message {
  bottom: 0;
  right: 0;
}

#searchForm .btn-danger {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #ff5a5f;
  border-color: #ff5a5f;
}

#searchForm .form-control {
  font-size: 15px;
  font-weight: 300;
  border-radius: 0;
}
